{% extends "base.html" %}
{% load static %}
{% block projectactive %}active{% endblock projectactive %}
{% block title %}
Projects
{% endblock title %}
{% block body %}
      <div class="container-fluid bg-secondary">
        <h2 class="text-center">My Projects</h2>
        <div class="row">
            <div class="col md-4">
                <div class="card" style="width: 18rem;">
                    <img style="height: 8rem;" src="/static/img/LeagueSpy4.PNG" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">League Spy</h5>
                        <p class="card-text">Player statistic lookup application using Riot Games APIs to provide accurate and up to date information! Coded in Java.</p>
                            <a href="/leaguespy" class="btn btn-primary">Click for more info</a>
                        </div>
                </div>
            </div>
            <div class="col md-4">
                <div class="card" style="width: 18rem;">
                    <img style="height: 8rem;" src="/static/img/LeagueSpy2.PNG" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Champion Lookup</h5>
                        <p class="card-text">Champion ability and lore lookup application using Riot Games APIs, bootstrap implemented for a more professional look. Coded in Java.</p>
                        <a href="/championlookup" class="btn btn-primary">Click for more info</a>
                    </div>
                </div>
            </div>
            <div class="col md-4">
                <div class="card" style="width: 18rem;">
                    <img style="height: 8rem;" src="/static/img/W32.PNG" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">W3 Voting</h5>
                        <p class="card-text">My first coding project. A pop culture voting application with leaderboard system and user profiles and comments. Coded in Python.</p>
                        <a href="/W3" class="btn btn-primary">Click for more info</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock body %}